body, a, p, td {
	font-family: arial, sans-serif;
}
body {
	color: #222;
}
.header {
	height: 60px;
	width: 100%;
}
ul {
	text-align: right;
	margin: 7px 15px 0 0;
	font-size: small;
}
li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 11px;
}
a {
	opacity: .75;
	text-decoration: none;
	color: #000;
}
.apps {
	display: inline-block;
	background: url(C:/Users/Jean/the_odin_project/google-homepage/imagens/apps.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
.alert {
	display: inline-block;
	background: url(C:/Users/Jean/the_odin_project/google-homepage/imagens/alert.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
.conta {
	opacity: 1;
	display: inline-block;
	background: url(C:/Users/Jean/the_odin_project/google-homepage/imagens/conta.jpg);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 32px;
	width: 32px;
}
.separar {
	padding-top: 112px;
}
.logo {
	background: url(C:/Users/Jean/the_odin_project/google-homepage/imagens/logo11w.png);
	background-repeat: no-repeat;
	background-size: 269px 95px;
	height: 95px;
	width: 269px;
}
.pais {
	color: #777;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	left: 218px;
	top: 70px;
	text-align: left;
}
.search {
	margin-top: 25px;
	position: relative;
	text-align: center;
	width: 570px;
}
.iconSearch {
	vertical-align: middle;
	opacity: 0.6;
}
.realMic {
	display: inline-block;
	background: url(C:/Users/Jean/the_odin_project/google-homepage/imagens/realmic.gif);
	background-repeat: no-repeat;
	background-size: 15px 20px;
	height: 20px;
	width: 15px;
	top: 4px;
	right: 4px;
	position: absolute;
}
.inputText {
	width: 570px;
	height:25px;
	border: 1px solid #dcdcdc;
	border-top: 1px solid #bababa;
}
.submit {
	height: 29px;
	color: #444;
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	font-size: 11px;
	font-weight: bold;
	margin: 11px 8px;
	padding: 0 8px;
}
.textLang {
	margin-top: 40px;
	font-size: small;
}
.textLang a {
	color: #12c;
	text-decoration: none;
}
.textLang a:visited {
	color: #609;
}
footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 0;
}
footer a {
	color: #111;
	text-decoration: none;
}
footer ul {
    text-align: right;
    margin: 0 0 0 0;
    font-size: small;
}
footer li {
	margin-right: 0;
}

.left {
	float: left;
	margin-left: 30px;
}
.right {
	float: right;
	margin-right: 30px;
}
#a {
	padding-left: 27px;
}
#b {
	padding-right: 27px;
}